@import "tailwindcss";

/* Estilos globais */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #f3f4f6;
}

@media print {
  @page {
    size: A4;
    margin: 10mm;
  }

  html,
  body {
    overflow-x: visible;
  }
}
